<p>contact component works!</p>

<!-- <h1>Data Binding</h1>

<h2>One Way Binding</h2>
<h2>TS to HTML</h2>

<h3>Interpolation</h3>

<p>My name is Faraz Inam</p>
<p>{{name}}</p>

<input type="{{p}}">
<input type="text" value="{{name}}">
<input type="{{chk}}">

<h3>Property Binding</h3>
<img [src]="link" alt="">
<input [type]="r">


<h2>HTML to TS</h2>

<button (click)="greet()">Click Me</button>



<h2>Two Way Binding</h2>

<input type="text" [(ngModel)]="name"> -->


<h1>Directives</h1>

<h3>Componenet</h3>
<h3>Structural</h3>

<p *ngIf="isVisible">This is a Paragraph</p>

<div *ngIf="isVisible"></div>
<button (click)="show()">Show</button>
<button (click)="hide()">Hide</button>

<button (click)="showHide()">Toggle</button>

<table class="table table-stripped">
    <tr>
        <th>Students' Name</th>
    </tr>
    <tr *ngFor="let names of studentsRec">{{names}}</tr>
</table>

<h3>Structural with AT</h3>

@if(isVisible){
    <p>Yes, Is Visible is TRUE</p>
}
@else{
    <p>Yes, Is Visible is FALSE</p>
}

<input type="text" [(ngModel)]="offer">

@if(offer == '7'){
    <p>10% discount</p>
}
@else if(offer == '21'){
    <p>30% discount</p>
}
@else if(offer == '30'){
    <p>50% discount</p>
}
@else{
    <p>No Discount!</p>
}


<select [(ngModel)]="sel">
    <option value="">Select Days</option>
    <option value="7">7 Days</option>
    <option value="21">21 Days</option>
    <option value="30">30 Days</option>
</select>

@if(sel == '7'){
    <p>10% discount</p>
}
@else if(sel == '21'){
    <p>25% discount</p>
}
@else if(sel == '30'){
    <p>50% discount</p>
}
@else{
    <p>Please Select Days</p>
}

<hr>

<input type="text" [(ngModel)]="days">

@switch(days){
    @case('0'){
    <p>It's Sunday Today!</p>
    }
    @case('1'){
    <p>It's Monday Today!</p>
    }
    @case('2'){
    <p>It's Tuesday Today!</p>
    }
    @case('3'){
    <p>It's Wednesday Today!</p>
    }
    @case('4'){
    <p>It's Thursday Today!</p>
    }
    @case('5'){
    <p>It's Friday Today!</p>
    }
    @case('6'){
    <p>It's Saturday Today!</p>
    }
    @default{
    <p>Incorrect Input!</p>
    }
}

<table class="table table-stripped">
    <tr>
        <th>Students' Name</th>
    </tr>
    @for(n of studentsRec; track n){
    <tr>{{n}}</tr>
    }
</table>

<h3>Attribute</h3>

<p [ngClass]="{'text-success': checking, 'text-danger' : !checking}">Lorem ipsum dolor sit amet.</p>

<select [(ngModel)]="checking">
    <option value="false">False</option>
    <option value="true">True</option>
</select>

<h3 [ngStyle]="{'color':'white', 'background-color':'black'}">Colouring....</h3>

<button (click)="abc()">Go to About</button>