<h1>CREATE</h1>

<form #MyForm="ngForm" (ngSubmit)="createData(MyForm.value)">

    <label for="">Product Name</label>
    <input type="text" name="pn" ngModel required> <br>

    <label for="">Product Price</label>
    <input type="number" name="pp" ngModel required> <br>

    <label for="">Product Description</label>
    <input type="text" name="pd" ngModel required> <br>

    <button type="submit" [disabled]="MyForm.invalid">Submit</button>
</form>

<hr>

<button (click)="readData()">Fetch Records</button>

<br>

<table class="table">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Description</th>
    </tr>

    @for(read of fetch; track read){
        <tr>
            <td>{{read.id}}</td>
            <td>{{read.pn}}</td>
            <td>{{read.pp}}</td>
            <td>{{read.pd}}</td>
        </tr>
    }
</table>