@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

    @foreach (var fetch in ViewBag.records)
    {
        <tr>
            <td>@fetch["id"]</td>
            <td>@fetch["name"]</td>
            <td>@fetch["price"]</td>
            <td>@fetch["description"]</td>
        </tr>
    }
</table>
